@page "/counter"

@inject HttpClient HttpClient

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>@Content</p>

@code {
    private int currentCount = 0;

    private string Content = string.Empty;

    private async Task IncrementCount()
    {
        Content = string.Empty;
        try
        {
            var result = await HttpClient.GetAsync("api/Function1");
            await result.Content.ReadAsStringAsync().ContinueWith(task =>
            {
                Content = task.Result;
            });
        }
        catch (Exception exc)
        {
            Console.WriteLine(exc);
        }
        
    }
}
