@page "/counter"
@using Shared

@inject HttpClient HttpClient

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@foreach(var definition in Definitions)
{
    <p><strong>@definition.Name</strong>: @definition.Description</p>
}

@code {
    private int currentCount = 0;

    private List<Definition> Definitions = [];

    private async Task IncrementCount()
    {
        Definitions = [];
        try
        {
            Definitions = await HttpClient.GetFromJsonAsync<List<Definition>>("api/GetAll") ?? [];
        }
        catch (Exception exc)
        {
            Console.WriteLine(exc);
        }
        
    }
}
